

.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: hidden; /* Hide scrollbar by default */
  // overflow-x: hidden;
  transition: width 0.3s, overflow-y 0.3s;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1);

  z-index: 10;
  &.open {
    transform: translateX(0);
  }

  &:hover {
    overflow-y: auto; /* Show scrollbar on hover */
  }

  @media (min-width: 1170px) {
    height: 100%;
    position: relative;
    width: 0;

    &.open {
      width: 300px;
    }
  }
}

.sidebar::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded edges for scrollbar thumb */
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color on hover */
}

.sidebar::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Background of the scrollbar track */
  border-radius: 10px; /* Rounded edges for scrollbar track */
}

/* For Firefox */
// .sidebar {
//   scrollbar-width: thin; /* Thin scrollbar */
//   scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
// }

.sidebar-closed {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-toggle {
  background: none;
  border: none;
  color: #555;
  cursor: pointer;
  padding: 10px;
  outline: none;
  font-size: 1.5rem;
}

.main-options {
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  align-items: center; /* Center align items horizontally */
  //justify-content: space-around; /* Distribute items evenly */
  list-style-type: none;
  padding: 0;
  height: 100%; /* Ensure it takes full height */
  width: 100%;
}

.option-icon {
  background: none;
  border: none;
  color: #555;
  cursor: pointer;
  padding: 10px;
  width: 100%; /* Full width */
  text-align: center;
  font-size: 1.5rem;
}

.option-icon i {
  display: block;
}

// .option-icon:hover {
//   background-color: #ddd;
// }

.option-label {
  display: none; /* Hide labels when sidebar is closed */
}


.logo-toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-right: 1rem;
}

.logo-container {
  // flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  max-width: 50%;
}

.custom-menu {
  width: 90%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  // background-color: #f8f9fa;
}

.custom-menu li {
  margin: 0;
  transition: all 0.3s ease;

}

.custom-menu li div {
  display: flex;
  align-items: center;
  padding: 18px 16px;
  // margin-right: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-menu li div:hover {
  background-color: #e4e5ea;

  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.custom-menu li.active > div {
  background-color: #007bff;
  border-radius: 10px;
  color: white;
}

.custom-menu ul.submenu {
  list-style-type: none;
  padding-left: 20px;
  margin: 0;
  max-height: 0;
  overflow: scroll;
  transition: max-height 0.3s ease;
}

.custom-menu li.expanded > ul.submenu {
  max-height: 1000px;
  overflow: hidden;
}

.custom-menu li div i:first-child {
  margin-right: 10px;
  font-size: 15px;
}

.custom-menu li div span {
  flex-grow: 1;
}

.custom-menu li div .expand-icon {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.custom-menu li.expanded > div .expand-icon.pi-chevron-right {
  transform: rotate(90deg);
}
